<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/getBook" class="nav-link active">Get Book</a>
        </li>
        <li class="nav-item">
          <a routerLink="/insertBook" class="nav-link active">Insert Book</a>
        </li>
        <li class="nav-item">
          <a routerLink="/updateBook" class="nav-link active">Update Book</a>
        </li>
        <li class="nav-item">
          <a routerLink="/deleteBook" class="nav-link active">Delete Book</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
